@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FlikrClone.Models.Comment

<h2>Add a new image</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.Hidden("@ViewBag.Pic")
    @Html.LabelFor(model => model.Content)
    @Html.EditorFor(model => model.Content)

    @*@Html.LabelFor(model => model.ImageId)
    @Html.DropDownList("ImageId")*@

    <input type="submit" value="Create" />
}
@Html.ActionLink("Back to Image Details", "Details", "Image");