@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FlikrClone.Models.Image


    <h2>Details for @Html.DisplayFor(model => model.Description)</h2>
    <hr />
    <img src=@Html.DisplayFor(model => model.Url) alt=@Html.DisplayFor(model => model.Description)> 
    <br />
    <div>@Html.ActionLink("Edit Image", "Edit", new { id = Model.ImageId }) | @Html.ActionLink("Delete Image", "Delete", new { id = Model.ImageId })</div>
    <hr />
@if (Model.Comments.Count > 0)
{
    
    <h5>Here are the comments for your image:</h5>

    @foreach (var comment in Model.Comments)
    {
        <ul>
            <li>
                <span>
                    @Html.DisplayFor(model => comment.Content) |

                    @Html.ActionLink("Edit Comment", "Edit", "Comment", new { id = comment.CommentId }) |
                    @Html.ActionLink("Delete Comment", "Delete", "Comment", new { id = comment.CommentId })
                </span>
            </li>
        </ul>
    }
}
else
{
    <p>There are no comments! Please add a comment!</p>
}
<hr />
    
    <p>@Html.ActionLink("Add comment", "Create", "Comment", new { id = Model.ImageId })</p>
    <p>@Html.ActionLink("Back to your images", "Index")</p>
