@model FlikrClone.Models.Image

<html>
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<hr />
<h4>Edit this image?</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ImageId)

    @Html.LabelFor(model => model.Url)
    @Html.EditorFor(model => model.Url)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>

